.TituloLink:hover{
    color: #f00;
}

@media (min-width: 1400px) {
    
    .ListFavorite{
        width: 96.5%;
        height:640px;
        margin-top: 100px;
        clear: both;
        text-align: center;
        overflow: scroll;
        /* border: thin dotted #0f0; */
    }
    
    .ListFavorite::-webkit-scrollbar-thumb:active {
        background-color: #fff;
    }
    
    .ListFavorite::-webkit-scrollbar-thumb {
        background: #00000050;
        border-radius: 7px;
    }
    
    .ListFavorite::-webkit-scrollbar-thumb:hover {
        background: black;
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
    }
    
    .ListFavorite::-webkit-scrollbar{
        width: 8px;
        height: 0;
    }
    
    .ListFavoriteItem{
        width: 150px;
        height: 250px;
        margin-right: 40px;
        float: left;
        background-color: #ffffff10;
        border-radius: 10px;
        margin-bottom: 40px;  
        box-shadow: 0 10px 10px #00000060;
    }
    
    .Titulo, .PeliImagen, .Botones{
        width: 150px;
        position: relative;
        right: 17px;
        top: 10px;
    }
    
    .Titulo{
        height: 50px;
    }
    
    .TituloLink{
        height: 50px;
        color: #fff;
        text-decoration: none;
        transition: 0.5s all;
    }
    
    .PeliImagen{
        height: 150px;
    }
    
    .Botones{
        top: 30px;
    }
    
    .FavBtn{
        height: 25px;
        background-color: yellow;
        color: black;
        font-weight: bold;
        border-radius: 5px;
        box-shadow: 0 10px 10px #00000060;
        border: none;
        transition: 0.5s all;
    }
    
    .FavBtn + .FavBtn{
        margin-left: 22px;
    }
    
    .FavBtn:hover{
        background-color: black;
        color: white;
        cursor: pointer;
    }
    
    .PosterFav{
        height: 150px;
        box-shadow: 0 15px 15px #00000080;
        /* border: thin dotted #0f0; */
    }

}

@media (min-width: 1200px) and (max-width: 1399px){

    .ListFavorite{
        width: 95%;
        height: 500px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 20px;
        overflow-y: scroll;
    }
    
    .ListFavoriteItem{
        width: 120px;
        height: 210px;
        border-radius: 10px;
        background-color: #ffffff10;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 10px;
        box-shadow: 0 10px 10px #00000060;
        /* border: thin dotted #f00; */
    }
    
    
    .Titulo{
        width: 120px;
        min-height: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* border: thin dotted rgb(0, 255, 55) */
    }
    
    .TituloLink{
        width: 100%;
        font-size: 12px;
        color: #fff;
        text-decoration: none;
        transition: 0.5s all;
        /* border: thin dotted #fff; */
    }
    
    .PeliImagen{
        width: 100px;
        height: 130px;
        overflow: hidden;
        /* border: thin dotted #0f0; */
    }

    .PosterFav{
        height: 130px;
        box-shadow: 0 15px 15px #00000080;
        /* border: thin dotted #0f0; */
    }

    .FavBtn{
        height: 20px;
        background-color: yellow;
        color: black;
        font-weight: bold;
        border-radius: 5px;
        box-shadow: 0 10px 10px #00000060;
        border: none;
        transition: 0.5s all;
        margin-top: 5px;
    }
    
    .FavBtn:hover{
        background-color: black;
        color: white;
        cursor: pointer;
    }

}