@media (min-width: 1400px) {

    .navBar {
        height: 56px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-radius: 10px;
        margin-top: 20px;
        background-color: #000;
    }
    
    .navBarLogo{
        width: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .navBarLogo img{
        height: 30px;
        float: left;
    }
    
    .navBarTitle{
        width: 75%;
        display: flex;
        align-items:flex-start;
    }
    
    .navBarTitle h3{
        color: #fff;
        font-size: 20px;
    }
    
    .linkMenu{
        width:20%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
    .list {
        margin-top: 20px;
        padding: 0;
        list-style: none;
        width: 100%;
        display: flex;
        flex-flow: row;
        align-items: center;
        height: 100%;
        line-height: 60px;
    }
    
    .list-item {
        position: relative;
        float: left;
        color: #fff;
        width: 80px;
        height: 40px;
        font-weight: bold;
    }
    
    .list-link {
        text-decoration: none;
        color: #fff;
        position: relative;
        right: 10px;
        padding: 25px 5px;  
        border-radius: 3px;
        transition: 0.5s all;
    }
    
    .list-link:hover{
        height: 100px;
        width: 300px;
        background-color: white;
        color: #000;
        font-weight: bold;
    }
    
    .active{
        background-color: yellow;
        color: #000;
        box-shadow: 0 10px 10px #00000060;
    }
    
}

@media (min-width: 1200px) and (max-width: 1399px){

    .navBar {
        height: 56px;
        width: 99%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-radius: 10px;
        margin-top: 20px;
        background-color: #000;
        /* border: thin dotted #f00; */
    }
    
    .navBarLogo{
        width: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* border: thin dotted #00f; */
    }
    
    .navBarLogo img{
        height: 30px;
        float: left;
        /* border: thin dotted #f00; */
    }
    
    .navBarTitle{
        width: 70%;
        display: flex;
        align-items:flex-start;
        /* border: thin dotted #00f; */
    }
    
    .navBarTitle h3{
        color: #fff;
        font-size: 20px;
    }
    
    .linkMenu{
        width: 30%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        /* border: thin dotted #00f; */
    }
    
    .list {
        margin-top: 20px;
        padding: 0;
        list-style: none;
        width: 100%;
        display: flex;
        flex-flow: row;
        align-items: center;
        height: 100%;
        line-height: 60px;
    }
    
    .list-item {
        position: relative;
        float: left;
        color: #fff;
        width: 80px;
        height: 40px;
        font-weight: bold;
    }
    
    .list-link {
        text-decoration: none;
        color: #fff;
        position: relative;
        right: 10px;
        padding: 25px 5px;  
        border-radius: 3px;
        transition: 0.5s all;
    }
    
    .list-link:hover{
        height: 100px;
        width: 300px;
        background-color: white;
        color: #000;
        font-weight: bold;
    }
    
    .active{
        background-color: yellow;
        color: #000;
        box-shadow: 0 10px 10px #00000060;
    }
    
}

@media (min-width: 992px) and (max-width: 1199px){
    
}

@media (min-width: 768px) and (max-width: 991px){
    
}

@media (min-width: 576px) and (max-width: 767px){
    
}

@media (max-width: 575px){
    
}