.navbar {
    height: 56px;
    width: 100%;
    margin: 0 auto;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 20px;
}

.navbar nav {
    height: 100%;
    width: 100%;border: thin solid #f0f;
}

.Elemento{
    height: 30px;
    float: left;
    
}

.imagen{
    width: 5%;
}

.titulo{
    width: 75%;
}

.linkMenu{
    width:20%;
}

h3{
    color: #fff;
    position: relative;
    left: -310px;
    top: -20px;
    font-size: 20px;
}

.list {
    margin-top: 2px;
    padding: 0;
    list-style: none;
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 100%;
    line-height: 60px;
    /* border: thin solid #00f; */
}

.list-item {
    position: relative;
    float: left;
    color: #fff;
    width: 80px;
    height: 40px;
    font-weight: bold;
    
  
}

.list-link {
    text-decoration: none;
    color: #fff;
    position: relative;
    right: 10px;
    padding: 25px 5px;  
    border-radius: 3px;
    transition: 0.5s all;
    
    /* border: thin solid #f0f; */
}

.list-link:hover{
    height: 100px;
    width: 300px;
    background-color: white;
    color: #000;
    font-weight: bold;
}

.active{
    background-color: yellow;
    color: #000;
    box-shadow: 0 10px 10px #00000060;
}

/* .list-item {
    /* height: 50px;
    width: 70px;
    text-align: center; */
    /* border: thin solid #f00; */
/* } */

/* .list-item a {
    /* color: white;
    /* height: 100%;
    width: 10px; */ 
    /* padding: 16px 10px;
    border-bottom: 4px solid transparent;
    text-decoration: none;
    line-height: 70px;
    transition: 0.5s all;
    border-radius: 5px; */
/* } */

/* .list-item a:hover{ 
    background-color: yellow;
    color: black;
    font-weight: bold; 
} */ 

/* .list-item a:hover,
.list-item a.active {
    background-color: yellow;
    color: black;
    font-weight: bold;
    height: 250px;
    
} */